<ion-header>
  <ion-toolbar>
    <ion-title>Crear Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="NOMBRE" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="DESCRIPCION" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="PRECIO" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Unidades</ion-label>
      <ion-input formControlName="UNIDADES" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="MARCA" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Distribuidor</ion-label>
      <ion-input formControlName="DISTRIBUIDOR" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL Imagen</ion-label>
      <ion-input formControlName="URLIMAGEN" type="text" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="createProductForm.invalid">
      Crear Producto
    </ion-button>
  </form>
</ion-content>
